*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(116.21deg, #052652 -3.25%, #2D9CDB 107.37%);
  font-family: 'Geologica', sans-serif;
}

@font-face {
  font-family: 'Geologica';
  src: url('fonts/Geologica-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,span {
  color: #FFFFFF;
}
span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.span-bold {
  font-weight: 500;
}
.span-extraBold {
  font-weight: 700;
}

h3 h4 {
  font-weight: 600;
  line-height: 130%;
}
h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

.p1 .p2 .p3 .p4{
  font-weight: 500;
  line-height: 120%;
}
.p1 {
  font-size: 26px;
}
.p2 {
  font-size: 22px;
}
.p3 {
  font-size: 20px;
}
.p4 {
  font-size: 18px;
}
@media (min-width: 768px) {
  .p1 {
    font-size: 30px;
  }
  .p2 {
    font-size: 26px;
  }
  .p3 {
    font-size: 24px;
  }
  .p4 {
    font-size: 22px;
  }
}


